include LICENSE
include MANIFEST.in
include README.rst
include CHANGELOG.md

recursive-include muffin_databases *
recursive-include requirements *.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
